@charset "utf-8";

$theme-primary: #5f4b8b;
$theme-secondary: #f0eee9;
$theme-tertiary: #00abc0;

$mdc-theme-primary: $theme-primary;
$mdc-theme-secondary: $theme-secondary;

@import "@material/fab/mixins";

// initialize

html {
  font-family: "Noto Sans KR";
  line-height: 180%;
}

body {
  overflow-x: hidden;
  margin: 0;
}

article,
aside,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

h1,
h2,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
}

a {
  outline: none;
  background-color: transparent;
  text-decoration: none;
}

// pseudo

::selection {
  background-color: $theme-primary;
  color: #fafafa;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px;

  &-track {
    border: 1px solid #eee;
  }

  &-thumb {
    width: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
    background-color: #bdbdbd;

    &:hover {
      background-color: #9e9e9e;
    }

    &:active {
      background-color: $theme-primary;
    }

    &:vertical {
      min-height: 10px;
    }

    &:horizontal {
      min-width: 10px;
    }
  }
}

// sidebar

$slidebar-width: 340px;
$slidebar-padding: 2.5rem;

.sidebar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  padding: $slidebar-padding;
  background-color: $theme-primary;
  color: $theme-secondary;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

  a {
    color: $theme-secondary;
  }

  ::selection {
    background-color: $theme-secondary;
    color: $theme-primary;
  }
}

// profile

.profile {
  width: 100%;

  &__header {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  &__list {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  &__item {
    display: flex;
    align-items: center;

    svg {
      width: 1rem;
      height: 1rem;
      padding-right: .5rem;
      fill: rgba(255, 255, 255, 0.5);
    }

    a {
      border-bottom: 1px dotted;
      transition: border 200ms cubic-bezier(0.4, 0.0, 0.2, 1),
                  color 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

      &:hover {
        border-bottom-color: transparent;
        color: $theme-tertiary;
      }
    }
  }
}

// navigation

.navigation {
  width: 100%;
  padding: .5rem 0;
  border-top: 1px solid $theme-secondary;
  border-bottom: 1px solid $theme-secondary;
  text-align: center;

  li {
    margin: 4px 0;
  }

  a {
    padding: .15rem 1rem;
    background-color: transparent;
    transition: background 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &.active {
      background-color: $theme-tertiary;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.38);
    }
  }
}

// main

main {
  min-height: 100vh;
  padding: 1rem;
}

// section

section {

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: $theme-primary;
  }

  &:first-child h2 {
    margin-top: unset;
  }

  a {
    border-bottom: 1px dotted;
    color: $theme-primary;
    transition: border 200ms cubic-bezier(0.4, 0.0, 0.2, 1),
                background 200ms cubic-bezier(0.4, 0.0, 0.2, 1),
                color 200ms cubic-bezier(0.4, 0.0, 0.2, 1);

    &:hover {
      border-bottom-color: transparent;
      background-color: $theme-primary;
      color: $theme-secondary;
    }
  }
}

// list-content

.list-content {
  margin-bottom: .5rem;
  padding-left: 1rem;
  border-left: 2px solid $theme-primary;

  &__type {
    font-weight: 500;
    color: $theme-primary;
  }

  li::before {
    padding-right: .5rem;
  }

  ul {
    border-left: unset;

    li::before {
      // bullet: \2022
      // white bullet: \25e6
      // triangular bullet: \2023
      // hypen bullet: \2043
      // black small square: \25aa
      // white small square: \25ab
      content: "\2043";
    }
  }
}

// table-content

.table-content {
  width: 100%;

  &__date {
    width: 100px;
    font-weight: 500;
    color: $theme-primary;
  }

  &__org {
    padding-left: .5rem;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.38);
  }

  th {
    padding: .5rem 1rem;
    background-color: $mdc-theme-primary;
    color: $theme-secondary;
    text-align: left;
  }

  tr:nth-child(odd) {
    background-color: rgba(#ede7f6, 0.5);
  }

  tr td {
    padding: .5rem 1rem;
    border-top: 1px solid $theme-primary;
    vertical-align: top;
  }
}

// fab

.mdc-fab {
  @include mdc-fab-base_;
  @include mdc-fab-container-color(primary);
  @include mdc-fab-icon-size(24px);
  @include mdc-fab-ink-color(on-primary);
  @include mdc-states(on-primary);

  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
}

.mdc-fab__icon {
  @include mdc-fab__icon_;
}

// responsive

@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  .sidebar {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
    position: fixed;
    width: calc(#{$slidebar-width} - (#{$slidebar-padding} * 2));
    height: 100%;
  }

  main {
    margin-left: $slidebar-width;
    padding: 2.5rem;
  }

  section:last-child {
    min-height: 90vh;
  }

  .mdc-fab {
    display: none;
  }
}
