<!DOCTYPE html>
<html lang="ko-KR" itemscope itemtype="http://schema.org/Person">
<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="theme-color" content="#5f4b8b">
  <meta name="robots" content="index, follow">

  <title>Dong-Young Kim | Portfolio</title>
  <meta name="description" content="Portfolio about Dong-Young Kim.">
  <!-- <base href="https://cert1970.github.io/porfolio"> -->

  <!-- Open Graph: http://ogp.me/ -->
  <meta property="og:title" content="Dong-Young Kim | Portfolio">
  <meta property="og:type" content="profile">
  <meta property="og:description" content="Portfolio about Dong-Young Kim.">
  <meta property="og:url" content="https://cert1970.github.io/portfolio">
  <meta property="og:image" content="https://cert1970.github.io/portfolio/static/images/profile.png">
  <meta property="og:locale" content="ko_KR">
  <meta property="profile:first_name" content="Dong-Young">
  <meta property="profile:last_name" content="Kim">
  <meta property="profile:gender" content="male">

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Dong-Young Kim | Portfolio">
  <meta name="twitter:description" content="Portfolio about Dong-Young Kim.">
  <meta name="twitter:image" content="https://cert1970.github.io/portfolio/static/images/profile.png">

  <!-- icons for Apple devices -->
  <link rel="apple-touch-icon" sizes="180x180" href="./static/images/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="152x152" href="./static/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="144x144" href="./static/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="120x120" href="./static/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="114x114" href="./static/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./static/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="72x72" href="./static/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="57x57" href="./static/images/apple-touch-icon-57x57.png">

  <!-- favicon -->
  <link rel="icon" type="image/x-icon" sizes="16x16 24x24 32x32 48x48 64x64" href="./favicon.ico">
  <link rel="icon" type="image/png" sizes="228x228" href="./static/images/favicon-228.png">
  <link rel="icon" type="image/png" sizes="196x196" href="./static/images/favicon-196.png">
  <link rel="icon" type="image/png" sizes="192x192" href="./static/images/favicon-192.png">
  <link rel="icon" type="image/png" sizes="144x144" href="./static/images/favicon-144.png">
  <link rel="icon" type="image/png" sizes="128x128" href="./static/images/favicon-128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="./static/images/favicon-96.png">
  <link rel="icon" type="image/png" sizes="48x48" href="./static/images/favicon-48.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./static/images/favicon-32.png">

  <!-- link -->
  <link rel="canonical" href="https://cert1970.github.io/portfolio">
  <link rel="author" href="https://cert1970.github.com/portfolio">

  <!-- StyleSheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,500,700&amp;subset=korean">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav class="sidebar">
    <div class="profile">
      <h1 itemprop="name"><span itemprop="givenName">Dong-Young</span> <span itemprop="familyName">Kim</span></h1>
      <div class="profile__item">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M437.332 80H74.668C51.199 80 32 99.198 32 122.667v266.666C32 412.802 51.199 432 74.668 432h362.664C460.801 432 480 412.802 480 389.333V122.667C480 99.198 460.801 80 437.332 80zM432 170.667L256 288 80 170.667V128l176 117.333L432 128v42.667z"/></svg>
        <a href="mailto:31337.cert@mail.com"><span itemprop="email">31337.cert@gmail.com</span></a>
      </div>
      <div class="profile__item">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 32C132.3 32 32 134.9 32 261.7c0 101.5 64.2 187.5 153.2 217.9 1.4.3 2.6.4 3.8.4 8.3 0 11.5-6.1 11.5-11.4 0-5.5-.2-19.9-.3-39.1-8.4 1.9-15.9 2.7-22.6 2.7-43.1 0-52.9-33.5-52.9-33.5-10.2-26.5-24.9-33.6-24.9-33.6-19.5-13.7-.1-14.1 1.4-14.1h.1c22.5 2 34.3 23.8 34.3 23.8 11.2 19.6 26.2 25.1 39.6 25.1 10.5 0 20-3.4 25.6-6 2-14.8 7.8-24.9 14.2-30.7-49.7-5.8-102-25.5-102-113.5 0-25.1 8.7-45.6 23-61.6-2.3-5.8-10-29.2 2.2-60.8 0 0 1.6-.5 5-.5 8.1 0 26.4 3.1 56.6 24.1 17.9-5.1 37-7.6 56.1-7.7 19 .1 38.2 2.6 56.1 7.7 30.2-21 48.5-24.1 56.6-24.1 3.4 0 5 .5 5 .5 12.2 31.6 4.5 55 2.2 60.8 14.3 16.1 23 36.6 23 61.6 0 88.2-52.4 107.6-102.3 113.3 8 7.1 15.2 21.1 15.2 42.5 0 30.7-.3 55.5-.3 63 0 5.4 3.1 11.5 11.4 11.5 1.2 0 2.6-.1 4-.4C415.9 449.2 480 363.1 480 261.7 480 134.9 379.7 32 256 32z"/></svg>
        <a href="https://github.com/cert1970">cert1970</a>
      </div>
      <div class="profile__item">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 368v80h80l235.727-235.729-79.999-79.998L64 368zm377.602-217.602c8.531-8.531 8.531-21.334 0-29.865l-50.135-50.135c-8.531-8.531-21.334-8.531-29.865 0l-39.468 39.469 79.999 79.998 39.469-39.467z"/></svg>
        <a href="https://blog.naver.com/cert1970">blog.naver.com/cert1970</a>
      </div>
      <div class="profile__item">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M190.4 354.1L91.9 256l98.4-98.1-30-29.9L32 256l128.4 128 30-29.9zm131.2 0L420 256l-98.4-98.1 30-29.9L480 256 351.6 384l-30-29.9z"/></svg>
        <a href="https://cert1970.github.io">cert1970.github.io</a>
      </div>
    </div>
    <ul class="navigation">
      <li><a href="#skills">Skills</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#activities">Activities</a></li>
      <li><a href="#awards">Awards</a></li>
      <li><a href="#certifications">Certifications</a></li>
    </ul>
  </nav>

  <main>
    <section id="skills">
      <h2>Skills</h2>
      <table class="table-content">
        <tbody>
          <tr v-for="skill in skills">
            <td itemprop="knowsAbout">{{ skill.name }}</td>
            <td>{{ skill.level }}</td>
            <td>
              <ul>
                <li v-for="detail in skill.details">{{ detail }}</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section id="projects">
      <h2>Projects</h2>
      <div class="list-content">
        <ul v-for="project in projects">
          <li>
            {{ project.name }} <span v-if="project.url">(<a :href="project.url">{{ project.url }}</a>)</span>
            <ul>
              <li v-if="project.date">기간: {{ project.date }}</li>
              <li v-if="project.size">규모: {{ project.size }}</li>
              <li v-if="project.overview">개요: {{ project.overview }}</li>
              <li v-if="project.roles">역할: {{ project.roles }}</li>
              <li v-if="project.skills">기술: {{ project.skills }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section id="education">
      <h2>Education</h2>
      <div class="list-content">
        <ul>
          <li>
            동의대학교 컴퓨터소프트웨어공학
            <ul>
              <li>기간: 2016-03 / 2018-02 (3학년 1학기 휴학)</li>
              <li>Cumulative GPA: 3.92 / 4.5</li>
              <li>Major GPA: 4.19 / 4.5</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section id="activities">
      <h2>Activities</h2>
      <div class="list-content">
        <ul v-for="activity in activities">
          <li>
            <span class="list-content__type">{{ activity.type }} |</span> {{ activity.org }} {{ activity.name }}
            <ul>
              <li>기간: {{ activity.date }}</li>
              <li>{{ activity.summary }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </section>
    <section id="awards">
      <h2>Awards</h2>
      <table class="table-content">
        <tbody>
          <tr v-for="award in awards">
            <td class="table-content__date">{{ award.date }}</td>
            <td>{{ award.name }} <span class="table-content__org">{{ award.org }}</span></td>
          </tr>
        </tbody>
      </table>
    </section>
    <section id="certifications">
      <h2>Certifications</h2>
      <table class="table-content">
        <tbody>
          <tr v-for="certification in certifications">
            <td class="table-content__date">{{ certification.date }}</td>
            <td>{{ certification.name }} <span class="table-content__org">{{ certification.org }}</td></td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js" integrity="sha256-3kjowa0CUPPK4W+yaGpNP1exjs8gbX2SSsToEMd06K8=" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js" integrity="sha256-FtWfRI+thWlNz2sB3SJbwKx5PgMyKIVgwHCTwa3biXc=" crossorigin="anonymous"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js" integrity="sha256-6DDZX77BrYnAmK9a3N3tvNPtyTIk1q1w9iW+UBtot3Y=" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha256-U/cHDMTIHCeMcvehBv1xQ052bPSbJtbuiw4QA9cTKz0=" crossorigin="anonymous"></script>
  <script src="main.js"></script>
</body>
</html>
